body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    background-color: #c80000;
    color: #fff;
}

.title{
    display: inline-block;
    margin: 1.8rem;
    font-size: 3em;
}.label{
    font-size: 1.4em;
    font-weight: bold;
}

.banner{
    background-color: #666;
    display: block;
    margin: 0;
    text-align: center;
}

.description{
    display: inline-block;
    color: #fff;
    font-size: 1.7em;
    font-weight: normal;
}.game-title{
    font-size: 1.2em;
}

/* START-CARDS-STYLE */

.cards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

.card{
    border: 1px solid #ccc;
    width: 28rem;
    padding: 1rem;
    margin: 2rem;
}

.fig-image{
    width: 100%;
}

.fig-categorie{
    color: #ccc;
    font-size: 1.3em;
    line-height: 2em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.fig-title{
    font-size: 2em;
    margin: auto;
}

.fig-desc{
    font-size: 1.4em;
    line-height: 1em;
}

.add-cart-btn{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c80000;
    text-decoration: none;
    padding: 4px;
}

.add-to-cart{
    color: #fff;
    font-size: 1.6em;
    margin: 0;
    margin-left: 16px;
}

.price{
    display: flex;
    color: #fff;
    font-size: 1.8em;
    margin-right: 16px;
    letter-spacing: 1px;
}

.old-price{
    text-decoration: line-through;
    font-size: .9em;
    margin-top: 34px;
    color: #eee;
    
}

.new-price{
    margin-left: 8px;
    font-weight: bold;
}


/* ###-END-CARDS-STYLE-### */

.footer{
    background-color: #666;
    padding: 8px;
}

.copyright{
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}